.grid .status{
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 4px;
}

.grid .status-win{
  color: green;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 4px;
}

.board-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 10px;
}