.square{
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
}

.x{
    color: lightblue;
}

.o{
    color: white;
}